@model EasyMoneyTrack.ViewModel.IndexView
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2 class="elegantshd">Your Current Blance is  @ViewBag.CurrentBallance.</h2>
    </div>
<br />
<br />

<div class="border row ">
    <div class="col-6 border-right">
        <div class="row">
            
                <div class="col-6">
                    <h4 class="alert-info">Spenging History</h4>
                </div>
                <div class="col-6 text-right">
                    <a asp-area="Account" asp-controller="Spendings" asp-action="Create" class="btn btn-info">Withdraw</a>
                </div>

           
        </div>
        <br />
        <br />
            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Spending.FirstOrDefault().Withdraw)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spending.FirstOrDefault().Date)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Spending)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Withdraw)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <h4 class="alert-info">Saving History</h4>
            </div>
            <div class="col-6 text-right">
                <a asp-area="Account" asp-controller="Savings" asp-action="Create" class="btn btn-info">Deposit</a>
            </div>

        </div>
       <br />
       <br />
        <table class="table ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Saving.FirstOrDefault().Deposit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Saving.FirstOrDefault().Date)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Saving)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deposit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>